.category {
  display: flex;
  justify-content: space-between;

  padding: 15px;
  background-color: #98c8c4; 
  border-radius: 10px;
  border: 2px solid #799491; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.categorySection {
  width: 45%; /* Reduced width of category boxes */
}

.categorySection h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
  padding: 10px;
  border-radius: 8px; /* Subtle curve for the heading container */
  text-transform: uppercase;
  background: linear-gradient(135deg, #2857ce 0%, #5f92eb 100%);
 /* Lighter blue gradient for event types */
}

.categorySection ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.categorySection ul li {
  margin: 8px 0;
  padding: 10px;
  background: linear-gradient(135deg, #6a94f3 0%, #78aef7 100%); /* Lighter blue gradient for category items */
  border-radius: 8px; /* Reduced border radius for category items */
  transition: all 0.3s ease;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.categorySection ul li:hover {
  background: linear-gradient(135deg, #5a81d3 0%, #66a7df 100%); /* Lighter blue gradient on hover */
  transform: scale(1.05); /* Slight scale effect */
}

.categorySection ul li a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent */
}

.categorySection ul li a:hover {
  color: white; /* White color when hovering over the link */
}

/* Active link (when clicked) */
.categorySection ul li.active {
  background: linear-gradient(135deg, #4a71c6 0%, #66a7df 100%); /* Darker blue gradient for active items */
  color: white;
}

.categorySection ul li.active a:hover {
  color: white; /* White color when hovering over the active link */
}

/* Background gradient for student years section */
.categorySection.studentYears h3 {
  background: linear-gradient(135deg, #00c8b7 0%, #00e0b9 100%); /* Lighter turquoise gradient for Student Years */
}
