/* General Styles */
.singlePost {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: -10px;
    flex: 9;
    background: #c8c8c8;
    border-radius: 10px;
    border: 2px solid #a0c0ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.singlePost:hover {
    border-color: #2b7db3;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg, .writeImg {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid black;
    display: block;
    margin: 0 auto;
}

.singlePostImg:hover {
    border-color: #8ab32b;
}

.siglePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #2c3e50;
    text-transform: uppercase;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: #2980b9;
}

.singlePostIcon:last-child {
    color: #e74c3c;
}

.singlePostDate,
.singlePostAuthor {
    margin-right: 10px;
    color: #72099f;
    font-weight: bold;
    font-size: 15px;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #7f8c8d;
    font-family: 'Varela Round', sans-serif;
}

.singlePostDesc {
    color: #2c3e50;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.singlePostDesc:first-letter {
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.8em;
    text-transform: uppercase;
}

.singlePostTitleInput {
    text-align: left;
    margin: 5px auto; /* Decreased top and bottom margins */
    font-family: "Lora", serif;
    font-size: 28px;
    color: #555;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
    width: 95%;
    max-width: none;
    margin-left: -70px;
    margin-right: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    resize: vertical;
    min-height: 56px;
    line-height: 1.2;
    overflow-y: auto;
    white-space: pre-wrap;
    height: auto;
}

.singlePostTitleInput:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 77, 77, 0.4);
}

.singlePostDescInput {
    border: 2px solid #ddd;
    border-radius: 8px;
    color: #555;
    font-size: 18px;
    line-height: 28px;
    padding: 15px;
    width: 90%;
    max-width: 900px;
    height: 200px;
    margin: 20px auto;
    display: block;
    resize: vertical;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background: #fdfdfd;
}

.singlePostDescInput:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.singlePostButton {
    width: 120px;
    border: 1px solid #3498db;
    background-color: #3498db;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
    margin-left: auto;
    display: block;
    margin-right: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.singlePostButton:hover {
    background-color: white;
    color: #3498db;
    border-color: #3498db;
}

/* Comments Section */
.comments {
    margin-top: 20px;
    border: 1.5px solid #935828;
    padding: 15px;
    border-radius: 8px;
    background-color: #faf1e8;
    margin-right: 20px;
}

.comments h3 {
    margin-bottom: 10px;
    color: #333;
}

.comment {
    border: 2px solid #6fa8dc;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e3f2fd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reply {
    border: 2px solid #71a195;
    margin-left: 30px;
    margin-top: 5px;
    padding: 10px;
    background-color: #faf0ef;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commentInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #777;
}

.comment p {
    margin-bottom: 10px;
    color: #444;
    font-size: 1em;
}

.reply .commentInfo {
    margin-bottom: 5px;
}

.reply p {
    font-size: 0.95em;
}

.comment-controls, .reply-control {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.comment:hover .comment-controls, .reply:hover .comment-controls,
.comment:hover .reply-control, .reply:hover .reply-control {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

.commentIcon {
    margin: 0 5px;
    font-size: 1.1em;
    transition: color 0.2s, transform 0.2s;
    cursor: pointer;
    opacity: 0.7;
}

.commentIcon:hover {
    opacity: 1;
    transform: scale(1.1);
}

.edit-icon {
    color: #27ae60;
}

.delete-icon {
    color: #e74c3c;
}

reply-icon {
    color: #2980b9;
}

.reply-form {
    margin-top: 10px;
    padding-left: 0;
}

.reply-form textarea, .commentForm textarea {
    width: calc(100% - 70px);
    padding: 8px;
    border: 1.5px solid #7eb296;
    border-radius: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 0.95em;
}

.reply-form button,
.commentForm button {
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 5px;
    margin-right: 5px;
}

.reply-form button {
    padding: 6px 13px;
}

.reply-form button:hover,
.commentForm button:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}

.reply-form button:active,
.commentForm button:active {
    transform: scale(0.95);
}

.update {
    background-color: #2980b9;
    border: none;
    color: white;
    padding: 6px 13px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.85em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.update:hover {
    background-color: #3498db;
    transform: scale(1.05);
}

.update:active {
    transform: scale(0.95);
}

.cancel {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 6px 13px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.85em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cancel:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.cancel:active {
    transform: scale(0.95);
}

.postTags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tag:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.image-edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.writeFormGroup {
    display: flex;
    gap: 5px;
    border: 2px solid #410707;
    transition: border-color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px; /* Decreased margin-top */
    margin-bottom: 10px;
    align-items: center;
}


.writeFormGroup:hover {
    border-color: #007bff;
    cursor: pointer;
}

.writeIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #004d4d;
    cursor: pointer;
    margin-right: 10px;
}

.writeFile {
    display: none;
}

.writeInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    cursor: default;
    flex: 1;
}

.writeInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.writeInput::-ms-expand {
    display: none;
}

.writeInput::after {
    content: '\279C';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
    color: #555;
}

.writeInput:hover::after {
    color: #007bff;
}

.writeInput:focus::after {
    color: #007bff;
}

.like-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 8px;
    background: #f4f4f4;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    width: fit-content;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.like-section:hover {
    background: #e0e0e0;
    transform: scale(1.05);
}

.like-icon {
    font-size: 20px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.like-section:active {
    transform: scale(0.95);
}

.liked {
    color: #ff0015;
}

.like-icon:not(.liked) {
    color: #ab9d9d;
}

.like-count {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.like-container {
    display: grid;
    place-items: center;
    margin-top: 15px;
}

.postContainer {
    margin-left: 50px; /* Reduced left margin */
    margin-right: 50px; /* Reduced right margin */
    display: flex;
    align-items: center;
    border: 2px solid #919597;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #dfe2e4;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    width: calc(100% - 100px); /* Adjust width to fill more space */
    max-width: none; /* Remove max-width restriction */
}

.postContainer:focus-within {
    border-color: rgba(0, 77, 77, 0.8);
    box-shadow: 0 0 5px rgba(0, 77, 77, 0.3);
}

/* Responsive Design adjustments */
@media (max-width: 768px) {
    .singlePostWrapper {
        padding: 10px;
    }

    .siglePostTitle {
        font-size: 24px;
    }

    .singlePostDesc {
        font-size: 16px;
    }

    .comment {
        padding: 10px;
    }

    .reply {
        padding: 8px;
        margin-left: 20px;
    }

    .commentInfo {
        font-size: 0.8em;
    }

    .comment p {
        font-size: 0.9em;
    }

    .comment-controls, .reply-control {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5px;
    }

    .commentIcon {
        margin: 5px 0;
        font-size: 1em;
    }

    .reply-form {
        padding-left: 0;
    }

    .commentForm textarea,
    .reply-form textarea {
        font-size: 0.9em;
    }

    .commentForm button,
    .reply-form button,
    .update,
    .cancel {
        font-size: 0.9em;
        padding: 6px 12px;
        margin: 5px 0;
    }

    .tag {
        font-size: 14px;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .writeFormGroup {
        flex-direction: column;
        gap: 8px;
        padding: 8px;
    }

    .writeInput {
        width: 100%;
        font-size: 14px;
    }
}